.DS_Store
.idea/
bin/
pyvenv.cfg
imagenet-vgg-verydeep-19.mat
graph_info
MNIST-data/
input/
*.zip
vislab_shared_data/
checkpoint/
*.npy
Alpha/
output/
tmp/
__pycache__/
*.pyc
wikiart/
*.npz
venv/
checkpoint*/
!(*.py)